@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Graphik';
  src: url("../font/Graphik-Regular.woff2") format("woff2"), url("../font/Graphik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url("../font/Graphik-Light.woff2") format("woff2"), url("../font/Graphik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url("../font/Graphik-Medium.woff2") format("woff2"), url("../font/Graphik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

:root {
  --color: #4C52BC;
}

html, body {
  height: 100%;
  font-family: Graphik, sans-serif;
  font-size: 14px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  width: 252px;
  min-width: 252px;
  background: var(--color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar .logo {
  padding: 36px 0 64px 40px;
}

.sidebar .logo a {
  display: block;
}

.sidebar .logo a img {
  width: 36px;
  height: 36px;
}

.sidebar .menu ul li a {
  display: block;
  height: 48px;
  line-height: 48px;
  color: rgba(255, 255, 255, 0.6);
  padding: 0 40px;
}

.sidebar .menu ul li a:hover {
  color: #fff;
}

.sidebar .menu ul li.active a {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.08)), to(transparent));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.08), transparent);
}

.sidebar .storage {
  margin-top: auto;
  padding: 0 40px 64px;
}

.sidebar .storage .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .storage .title i {
  margin-right: 9px;
}

.sidebar .storage .title .percent {
  margin-left: auto;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
}

.sidebar .storage .bar {
  background: rgba(0, 0, 0, 0.3);
  height: 6px;
  border-radius: 6px;
  margin-top: 12px;
}

.sidebar .storage .bar span {
  display: block;
  height: 6px;
  border-radius: 6px;
  background: #F8D9AF;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .inner {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 32px 70px;
  overflow: auto;
}

.content .inner .search {
  position: relative;
  margin-bottom: 60px;
}

.content .inner .search input {
  width: 340px;
  height: 44px;
  border-radius: 44px;
  background: rgba(202, 236, 231, 0.14);
  border: none;
  padding: 0 40px;
}

.content .inner .search input:focus {
  outline: 0;
}

.content .inner .search input::-webkit-input-placeholder {
  color: #8F94B8;
}

.content .inner .search input:-ms-input-placeholder {
  color: #8F94B8;
}

.content .inner .search input::-ms-input-placeholder {
  color: #8F94B8;
}

.content .inner .search input::placeholder {
  color: #8F94B8;
}

.content .inner .search label {
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #B1B4CE;
}

.content .inner .search label i {
  font-size: 16px;
}

.content .inner .inner-box {
  margin-bottom: 50px;
}

.content .inner .inner-box .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -7px;
}

.content .inner .inner-box .projects .box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 145px;
  margin: 0 7px;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

.content .inner .inner-box .projects .box.active {
  background: #F7F8FB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .inner .inner-box .projects .box.active .box-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .inner .inner-box .projects .box.active .box-top .box-shared {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .inner .inner-box .projects .box.active .box-top .box-shared img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: -8px;
  border: 2px solid #F7F8FB;
}

.content .inner .inner-box .projects .box.active .box-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .inner .inner-box .projects .box.active .box-title .name {
  color: #0E1B42;
  font-weight: 500;
  margin-bottom: 4px;
}

.content .inner .inner-box .projects .box.active .box-title .task {
  color: #8186AD;
  font-size: 12px;
}

.content .inner .inner-box .projects .box.active .box-bar {
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 5px;
  background: #DDE2EF;
}

.content .inner .inner-box .projects .box.active .box-bar span {
  display: block;
  width: auto;
  height: 5px;
  border-radius: 5px;
  background: var(--color);
  position: relative;
}

.content .inner .inner-box .projects .box.active .box-bar span::before {
  position: absolute;
  content: attr(title);
  color: var(--color);
  font-size: 10px;
  font-weight: 500;
  top: -10px;
  right: -10px;
}

.content .inner .inner-box .projects .box.empty {
  border: 2px dashed #E4E8F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .inner .inner-box .projects .box.empty i {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F7F8FB;
  color: var(--color);
  border-radius: 50%;
  margin-bottom: 10px;
}

.content .inner .inner-box .projects .box.empty .text {
  font-size: 12px;
  color: #132046;
}

.content .inner .inner-box .recent ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  padding: 20px;
  border-radius: 10px;
}

.content .inner .inner-box .recent ul li a img {
  margin-right: 13px;
}

.content .inner .inner-box .recent ul li a h4 {
  color: #0E1B42;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content .inner .inner-box .recent ul li a .visibility {
  width: 100px;
  color: #8186AD;
  font-size: 12px;
  text-align: center;
}

.content .inner .inner-box .recent ul li a .size {
  width: 100px;
  color: #8186AD;
  font-size: 12px;
  text-align: center;
}

.content .inner .inner-box .recent ul li a .more {
  opacity: 0;
}

.content .inner .inner-box .recent ul li a .more i {
  color: #B1B4CE;
  font-size: 16px;
}

.content .inner .inner-box .recent ul li a:hover {
  background: #F4F5FA;
}

.content .inner .inner-box .recent ul li a:hover .more {
  opacity: 1;
}

.content .right-bar {
  width: 360px;
  padding: 32px 46px;
  border-left: 2px solid #F6F7FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .right-bar .profile-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .right-bar .profile-bar .notifications {
  margin-right: 32px;
}

.content .right-bar .profile-bar .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .right-bar .profile-bar .profile img {
  margin-right: 8px;
}

.content .right-bar .profile-bar .profile span {
  color: #0E1B42;
  font-weight: 500;
  margin-right: 12px;
}

.content .right-bar .profile-bar .profile i {
  color: #0E1B42;
}

.content .right-bar .inner-box .content-title {
  margin-top: 60px;
}

.content .right-bar .inner-box .content-title h4 {
  font-size: 16px;
}

.content .right-bar .inner-box .activities {
  position: relative;
  padding-left: 19px;
}

.content .right-bar .inner-box .activities::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 0;
  width: 2px;
  height: 100%;
  background: #F6F7FA;
  border-radius: 1px;
}

.content .right-bar .inner-box .activities .activities-container {
  position: relative;
  margin-bottom: 30px;
}

.content .right-bar .inner-box .activities .activities-container .activities-icon {
  position: absolute;
  top: 0;
  left: -18px;
}

.content .right-bar .inner-box .activities .activities-container .activities-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-left: 12px;
}

.content .right-bar .inner-box .activities .activities-container .activities-body .text {
  color: #0E1B42;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.content .right-bar .inner-box .activities .activities-container .activities-body .text .bold {
  font-weight: 500;
}

.content .right-bar .inner-box .activities .activities-container .activities-body .time {
  padding-left: 25px;
  font-size: 11px;
  line-height: 16px;
  color: #8186AD;
}

.content .right-bar .inner-box .activities .activities-container .activities-content {
  margin-top: 12px;
  margin-left: 21px;
}

.content .right-bar .inner-box .activities .activities-container .activities-content img {
  margin-right: 7px;
}

.content .right-bar .refer-container {
  position: relative;
  border: 2px solid #F6F7FA;
  border-radius: 10px;
  padding: 20px 20px 0 20px;
  margin-top: auto;
}

.content .right-bar .refer-container .close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #B1B4CE;
}

.content .right-bar .refer-container h4 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.content .right-bar .refer-container h6 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 12px;
  text-align: center;
  color: #8186AD;
}

.content .right-bar .refer-container .refer-img img {
  display: block;
}

.content .content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #F6F7FA;
  margin-bottom: 35px;
  padding-bottom: 6px;
  position: relative;
}

.content .content-title::before {
  position: absolute;
  content: '';
  width: 38px;
  height: 4px;
  background: #C4E2E6;
  border-radius: 4px;
  left: 0;
  bottom: -2px;
}

.content .content-title h4 {
  font-size: 20px;
  font-weight: 500;
  color: #0E1B42;
}

.content .content-title a {
  color: #8186AD;
}

.content .content-title a i {
  margin-left: 8px;
  font-size: 11px;
}
/*# sourceMappingURL=main.css.map */