@import 'reset'
@import 'font'
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')

html, body
    height: 100%
    font-family: Graphik, sans-serif
    font-size: 14px

body
    display: flex

// SIDEBAR
.sidebar
    width: 252px
    background: #4C52BC
    display: flex
    flex-direction: column
    .logo
        padding: 36px 0 64px 40px
        a
            display: block
            img
                width: 36px
                height: 36px
    .menu
        ul
            li
                a
                    display: block
                    height: 48px
                    line-height: 48px
                    color: rgba(255, 255, 255, .6)
                    padding: 0 40px
                    &:hover
                        color: #fff
                &.active
                    a
                        color: #fff
                        background: linear-gradient(to right, rgba(255, 255, 255, .08), transparent)
    .storage
        margin-top: auto
        padding: 0 40px 64px
        .title
            display: flex
            color: #fff
            font-weight: 500
            align-items: center
            i
                margin-right: 7px
            .percent
                margin-left: auto
                font-size: 12px
                color: rgba(255, 255, 255, .6)
                font-weight: normal
        .bar
            background: #30358A
            height: 6px
            border-radius: 6px
            margin-top: 12px
            span
                display: block
                height: 6px
                border-radius: 6px
                background: #F8D9AF

// CONTENT
.content
    flex: 1
